// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	background: url('slidefetes__013340400_1443_18052016.jpg') no-repeat center center;
	background-size: contain;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
 	height: 500px;
	color: #fff; /* Le texte en couleur primary */
 	text-shadow: #563d7c 0.1em 0.1em 0.1em;
 	}